This is my CSS file
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap');

body{
    height:100%;
    width:100%;
    margin: 10px;
    background-color:white;
}
h1{ color:teal;
    text-align:center;
    font-family: 'Playfair Display SC', serif;
}

.ui.attached.stackable.three.item.menu {
    text-emphasis: 10px;
}
.star.icon{
    color:gold;
}
.remove-row-spacing{
    padding:0px;
}
.ui.form{
    margin-top:10px;
    padding:10px;
    background-color:transparent;
}
.ui.segment.map-search{
    padding:20px;
}
.scrollingMenu {
padding:10px;
margin:20px;
}
.ui.search.icon.input{
padding-right:30px;
}
.search.icon{
    padding-right: 100px;
}
.ui.black.button :hover{
    color:rgb(54, 72, 72);
}
#about-display{
    display: none;
}
#contact-display{
    display: none;
}
.ui.steps{
    display: inline;
    padding: 20px;
}
.title{
    padding: 10px;
}
